<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <ion-item>
      <ion-label position="starcked">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="starcked">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="starcked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button (click)="registro()" expand="block">Registrar</ion-button>
  </div>
</ion-content>
